<div class="page w-25 my-4 mx-auto p-4 rounded">

  <h1 class="m-0">My tasks</h1>

    <div data-controller="checklist">

      <%= form_with url: bulk_update_tasks_path, method: :patch, id: :bulk_actions_form  do |form| %>
        <%= form.submit "open"%>
        <%= form.submit "complete" %>
      <% end %>

      <div class="my-4">
        <ul>
          <% @tasks.each do |task| %>
            <li>
              <%= check_box_tag "task_ids[]", task.id, nil, { multiple: true, form: :bulk_actions_form } %>
              <%= link_to task.title, task_path(task) %>
            </li>
          <% end %>
        <ul>
      </div>

      <div class="d-flex justify-content-between">
        <button class="btn btn-dark">
          <%= link_to "Add new task", new_task_path %>
        </button>
        <button class="btn btn-success d-none" id="completed-button" type="button" data-checklist-target="button" data-action="click->checklist#complete">
          Complete
        </button>
      </div>

    </div>

</div>
